@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap");

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

img {
  object-fit: contain;
}

.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background-color: #d5e1ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.qr-card,
img {
  border-radius: 15px;
}

.qr-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  margin-bottom: 20px;
  & h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 5px;
  }
  & p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    width: 80%;
    align-self: center;
  }

  @media (orientation: landscape) {
    width: 16vw;
  }
  @media (orientation: portrait) {
    width: 72vw;
  }
}
